body {
    background-color: rgb(34, 36, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(247, 247, 248);
    text-align: center;
    font-family: sans-serif;
}

#container {
    background-color: rgb(30, 32, 37);
    border-radius: 10px;
    padding: 10px 8px 10px 10px;

    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 2px;
}

.grid-element {
    background-color: rgb(34, 36, 42);
    border-radius: 20%;
}

.colored {
    background-color: pink;
}

.grid-element:hover {
    background-color: rgb(76, 164, 155);
}

#reset {
    background-color: rgb(250, 230, 126);
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px 5px 2px black;

    margin-top: 20px;
}

#reset:hover {
    background-color: rgb(230, 210, 106);
    box-shadow: 2px 2px 5px 2px black;
}
